<%= render partial: "ui-components/v1/navs/primary_nav" %>

<!-- <div class="container">
  <div class="bottom-pd">
      <h1 class="heading-text">Enroll Configurations</h1>
 -->
	  <div class="row" id="configurations">
	  	<div class="col-md-2" style="overflow: scroll; background-color: #e6e6e6;">
	  		<%= render_configuration_navigation_menu %>
	  	</div>

	  	<div class="col-md-10">
	  		<div id="data_container"></div>
	  	</div>
	  </div>
<!--   </div>
</div>
 -->
<style>
	body {
		font-size: 1rem;
		line-height: 1.5;
	}

	h4 {
		font-weight: 500;
		line-height: 1.2;
	}

   #configurations .list-group {
   	  color: black;
   	  background-color: #fff;
   }
   #uic-primary-nav ul {
   	margin-top: 0;
   	margin-bottom: 0;
   }

   #configurations a {
   	color: black;
   	font-size: 1.1rem;
   }
</style>