<div id="immigration_naturalization_cert_container">
  <%= c.hidden_field :vlp_subject, value: 'Naturalization Certificate' %>
  <%= render :partial => "insured/consumer_roles/docs_shared/naturalization_number", locals: {v: c} %>
  <%= render :partial => "insured/consumer_roles/docs_shared/alien_number", locals: {v: c} %>
</div>
