  <div id="employers" class='row no-buffer'>
    <h3>Employers</h3>
    <div class="n-radio-group">
      <% @person.active_census_employees.each do |census_employee| %>
        <div class="n-radio-row">
          <label class="n-radio">
              <%= radio_button_tag 'employee_role_id', census_employee.employee_role.id, @employee_role.census_employee_id == census_employee.id, id: "census_employee_#{census_employee.id}", class: 'n-radio' %>
            <span class="n-radio">
            </span>
            <%= census_employee.employer_profile.legal_name %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
